@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,700;1,400&family=Great+Vibes&family=Poppins:ital,wght@0,400;1,400;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,700;1,400&family=Great+Vibes&family=Lato:ital,wght@0,400;0,900;1,400;1,700;1,900&family=Montaga&family=Poppins:ital,wght@0,400;1,400;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
*{
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Bona Nova', serif;
    font-family: 'Poppins', sans-serif;
    margin:0; padding: 0;
    box-sizing: border-box;
    outline: none;border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
body{
    overflow-x: hidden;
}

header{
    background-color: #ce0000;
    justify-content: space-between;
    top: 0;left: 0;right: 0;
    z-index: 1000;
    padding: 15px;
}

nav{
    display: flex;
    justify-content: space-evenly;
    float: right;
    gap:1.5rem;
    margin-right: 10%;
    margin-top: 2px;
    align-items: baseline;
}
nav a{
    color: #ffffff;
    font-size: 1.5rem;
    align-items: baseline;
}
#insta{
    margin-left: 20px;
}

.p1{
    margin-top: 300px;
    margin-right: 200px;
    color: #ffffff;
    line-height: 0.2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 100px;
    font-style: italic;
    font-size: 20px;
}
.p2{
    font-size: 100px;
    font-weight: 900;
    margin-right: 200px;
    text-transform: capitalize;
    justify-content:space-between ;
    font-family: 'Lato', sans-serif;
    color:#ffffff ;
    margin-top: 0;
    margin-bottom: 0;
}
.p3{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}
.heading a{
    color: #ffffff;
    font-size: 20px;
    margin-top: 5px;
}
.page1{
    display: flex;
    justify-content: space-between;
}
button{
    width: 176px;
    height: 63px;
    background-color: #ce0000;
    color: #ffffff;
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
    font-family: 'Bona Nova', serif;   
    border-radius: 6px;
}
.heading button:hover{
    color: #ce0000;
    background-color: aliceblue;
    font-size: 23px;
}
.img-2{
    display: flex;
    width: 1000px;
    height: 400px;
    background-color: #ce0000;
    align-items: center;
    margin-left: auto;
    margin-right:auto;   
}
.container-2{
    background-image: url(images/bg-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    overflow-x: hidden;
}
.text{
    z-index: -1;
}
.red-box p{
    font-size: 40px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Lato";
}
.container-2 h1{
    color: #ffffff;
    margin-top: 7%;
    margin-left: 15%;
    text-transform: uppercase;
}
.container-2 p{
    color: antiquewhite;
    margin-top: 20px;
    font-size: 12px;
    margin-left: 15%;
    display: flex;
    width: 900px;
    margin-bottom: 8%;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    position: absolute;
    margin-top: 130px;
  }



